// $accentColor = #228fbd
$accentColor = #545454
// $textColor = #2c3e50
$textColor = #2b2b2b
// $borderColor = #afdfe4
$borderColor = #545454
// $codeBgColor = #1b315e
// $codeBgColor = 	#2585a6
// $codeBgColor = 	#2570a1
$codeBgColor = 	#2b2b2b
// $codeBgColor = 	#545454
// $arrowBgColor = red