// $accentColor = #228fbd
$accentColor = #545454
// $textColor = #2c3e50
$textColor = #2b2b2b
// $borderColor = #afdfe4
// $borderColor = #545454
// $codeBgColor = #1b315e
// $codeBgColor = 	#2585a6
// $codeBgColor = 	#2570a1
$codeBgColor = 	#2b2b2b
// $codeBgColor = 	#545454
// $arrowBgColor = red
// body {
//     // font-family:  Consolas, "Microsoft YaHei"
//     font-family: "Helvetica Neue",Consolas,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
// }
// body {
//     font-family:  Consolas, "Microsoft YaHei"
// }

.navbar {
    opacity: 0.8;
}

.titles {
    font-weight: 600;
}

.description {
    /* visibility: hidden; */
    display: none;
}

@media screen and (max-width: 750px) {
    /* 手机端CSS代码 */
    .myemail {
        display: none;
    }
    .mysearch {
        display: none;
    }
    .myselector {
        display: none;
    }
    .myresume {
        display: none;
    }
    .el-divider {
        display: none;
    }
    .time {
        display: none;
    }
}